{% extends 'base.html.twig' %}

{% block title %}Recette {{recipe.id}} ({{recipe.name}}) signalée{% endblock %}

{% block stylesheets %}
    <style>
        article {
            max-width: 500px;
            margin: 0 30px;
            padding-left: 10px;
            border: solid 1px black;
        }

        .bold {
            font-weight: bold;
            font-style: italic;
        }

        .italic {
           font-style: italic; 
        }
    </style>
{% endblock %}

{% block body %}
    <div id="container">
        <p>Bonjour Admin,</p>

        <p>La recette {{recipe.name}} (id {{recipe.id}}) a été signalée par <span class="italic">{{signaledBy}}</span> comme étant une recette potentiellement douteuse:
            <div>
                <article>
                    <section>
                        <h2>{{recipe.name}}</h2>
                        <p><span class="bold">Auteur :</span> {{recipe.author}}</p>
                        {% if (recipe.picture is not null) %}
                            <img src="{{email.image(asset(recipe.picture))}}" alt="">
                        {% endif %}
                        <p><span class="bold">Nombre de personnes :</span> {{recipe.nbPeople}}</p>
                        <p><span class="bold">Temps de préparation :</span> {{recipe.preparationTime}}</p>
                        <p><span class="bold">Temps de cuisson :</span> {{recipe.cookingTime}}</p>
                    </section>
                    <section>
                        <h2>Ingrédients</h2>
                        <ul>
                            {% for ingredient in recipe.recipeIngredients %}
                                <li>{{ ingredient.quantity }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section>
                        <h2>Etapes</h2>
                        <ol>
                            {% for step in recipe.steps|sort((a, b) => a.nbStep|lower <=> b.nbStep|lower) %}
                                <li>{{ step.description }}</li>
                            {% endfor %}
                        </ol>
                    </section>
                </article>
            </div>
        </p>

        <p>Merci de vous rendre dans l'interface administration pour déterminer si ce signalement est erroné ou si cette recette doit être supprimée</p>
        <p>Bonne journée</p>
    </div>
{% endblock %}